<footer class="container-fluid">
  <div class="row">
    <section>
      <li class="social">
        <a href="http://github.com/1sambuenaventura" target="_blank">
          <i class="fa fa-github fa-2x"></i>
        </a>
      </li>
      <li class="social">
        <a
          href="https://www.linkedin.com/in/1sam-buenaventura-784b7a229/"
          target="_blank"
        >
          <i class="fa fa-linkedin fa-2x"></i>
        </a>
      </li>
      <li class="social">
        <a href="http://instagram.com/1sam.buenaventura" target="_blank">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
      </li>
      <li class="social">
        <a href="https://www.facebook.com/1SamPBuenaventura/" target="_blank">
          <i class="fa fa-facebook fa-2x"></i>
        </a>
      </li>
    </section>
  </div>
</footer>
