<div id="about-page">
  <h1>Skills</h1>
  <div class="container">
    <div class="row py-2">
      <div class="col me-4"><i class="fa-brands fa-html5 fa-6x"></i></div>
      <div class="col me-4"><i class="fa-brands fa-css3-alt fa-6x"></i></div>
      <div class="col me-4"><i class="fa-brands fa-js fa-6x"></i></div>
      <div class="col me-4"><i class="fa-brands fa-bootstrap fa-6x"></i></div>
      <div class="col"><i class="fa-brands fa-vuejs fa-6x"></i></div>
    </div>
    <div class="row">
      <div class="col me-4"><i class="fa-brands fa-java fa-6x"></i></div>
      <div class="col me-4"><i class="fa-brands fa-python fa-6x"></i></div>
      <div class="col me-4"><i class="fa-brands fa-php fa-6x"></i></div>
      <div class="col me-4"><i class="fa-brands fa-git-alt fa-6x"></i></div>
      <div class="col"><i class="fa-brands fa-linux fa-6x"></i></div>
    </div>
  </div>
</div>
